.sidebar {
  background: #fff;

  &__thumb {
    cursor: pointer;
    margin: 8px;
    padding: 3px 0px 2px 6px;
    background: rgba(255, 255, 255, 0.2);
    line-height: 32px;
    border-radius: 6px;
  }

  .thub_img {
    border-radius: 30%;
  }
  .thub_text {
    font-size: 20px;
  }

  &__menu {
    border-right: 0;
  }
}
