.profile-container {
  max-width: 400px;
  text-align: left; // Выровнять все по левому краю

  .avatar-upload {
    position: relative;
    display: inline-block;

    .avatar-uploader {
      position: relative;
      cursor: pointer;

      &:hover .avatar-upload__overlay {
        opacity: 1;
        visibility: visible;
      }
    }

    .avatar {
      display: block;
      border: 2px solid #d9d9d9;
    }

    &__overlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: bold;
      border-radius: 50%;
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out;

      .avatar-upload__icon {
        font-size: 24px;
        margin-bottom: 5px;
      }
    }
  }
}
